@font-face{
	font-family:'Arial_Narrow_Bold';
	src: url('../font/Arial_Narrow_Bold.ttf');
}

@font-face{
	font-family: 'HelveticaNeue-CondensedBold';
	src: url('../font/HelveticaNeue-CondensedBold.ttf');
}