@font-face{
	font-family:'Arial_Narrow_Bold';
	src: url('../fonts/Arial_Narrow_Bold.ttf');
}
@font-face {
    font-family: 'arrow';
    src: url('../fonts/arrow.woff2') format('woff2'),
         url('../fonts/arrow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}