html{
	font-size: 14px;
	background-color: #fff;
}
@media all and (max-width: 48em) { 
	html{ 
		font-size: 14px;
	} 
}
@media all and (max-width: 36em) { 
	html{ 
		font-size: 12px;
	} 
}
body{
	font-family: 'Arial_Narrow_Bold';
	-webkit-font-smoothing:antialiased;
	text-rendering: optimizeLegibility;
	font-size: 1rem;
	line-height: 1.2;
	margin:1rem;
	text-transform: uppercase;
/*	background-color: #fff;*/
	color:#fff;
}
body > header{
	position: fixed;
	top: 1rem;
	left: 1rem;
	width:calc(100vw - 2rem);
	z-index:99999;
}

nav{
	position: fixed;
	top:0;
	left:0;
	height:100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: space-between;
	padding: 1rem;
	pointer-events: none;
	z-index:9999;
	transform: translate3d(0,0,100px);
}

header, nav{
	mix-blend-mode: exclusion;
}

nav > div{
	pointer-events: auto;
}

main.scroll{
	display: flex;
	flex-direction: column;
}

figure{
	width:100%;
	height: calc(100vh - 5.2rem);
}
img{
	display: block;
	margin:auto;
	padding:1rem 0;
	width: 100%;
	height:100%;
	object-fit: contain;
}

details summary{
	width:fit-content;
	cursor: pointer;
}
details summary::-webkit-details-marker {
	display:none;
}
details > summary:first-of-type {
	list-style-type: none;
}

ul{
	list-style-type: none;
	margin-left: 1rem;
}

summary:after, .arrDown:after{
			content:'▼';
/*			font-family: 'arrow';*/
			display: inline-block;
			-webkit-text-stroke-width: 1px;
			-webkit-text-stroke-color: #fff;
			color:transparent;
/*			transform-origin: 0 0.4rem;*/
			margin: 0 0 0 0.2rem;
			font-size: 12px;
			vertical-align: 1px;
/*			transform-origin: center;*/
/*			transform: scaleX(0.75);*/
		}

		@media all and (max-width: 36em) { 
			summary:after, .arrDown:after{
				font-size: 10px;
				vertical-align: 1px;
			} 
		}

		details[open] summary:after{
/*			content:'△';*/
			content:'▲';
		}

.dropdown > summary:after{
	font-family: 'Arial_Narrow';
	content:'+';
	font-size: 1rem;
	line-height: 10px;
	width:11px;
	text-align: center;
	-webkit-text-stroke-width: 0;
	vertical-align: 0;
	color:#fff;
	border:1px solid;
	margin-left: 0.2rem;
}

@media all and (max-width: 36em) { 
	.dropdown > summary:after{
		line-height: 8px;
		width:9px;
	}
}


.dropdown[open] summary:after{
	content:'−';
}

.dropdown > ol{
	position: absolute;
	margin-top: 2.4rem;
	list-style-type: none;
}

.dropdown#brandon > summary, .dropdown#brandon > div, .dropdown#brandon > div *{
	display: inline;
}


.arrRight:after{
	content:'►';
	display: inline-block;
	margin: 0 0rem 0 0.3rem;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #fff;
	color:transparent;
	font-size: 12px;
	vertical-align: 1px;
}

@media all and (max-width: 36em) { 
	.arrRight:after{
		font-size: 10px;
		vertical-align: 1px;
	} 
}





a:hover{
	opacity: 0.5;
}

summary:hover:after{
	opacity: 0.5;
}

summary:hover > a{
	opacity: 1;
}

sub{
	font-size: 0.8rem;
}
#index{
	position: absolute;
	right:0;
}

#description{
	position: relative;
	min-height: 1.2rem;
	width:min(30rem, calc(100vw - 2rem));
}
#description p{

	position: absolute;
}
/*.normal{
	font-family: Arial;
	font-weight: bold;
}*/